* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  background: radial-gradient(rgba(10, 1, 26, 0.938), rgb(0, 0, 0)), url('https://raw.githubusercontent.com/clint360/i360-Payments/b5d551a74f6b0342217e503776f381c3b3873fe3/background.JPG');
  background-size: cover;
  color: white;
  height: auto;
}

.heading {
  padding-top: 15px;
  margin-bottom: 0.3rem;
}

.heading img {
  min-width: 250px;
}

.heading h3 {
  font-size: 25px;
  font-weight: 200;
}

main {
  padding-top: 5px;
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  text-align: center;
  gap: 2px;
  justify-content: center;
  padding-bottom: 150px;
  overflow:scroll;
}

.card {
  flex-basis: 29%;
  margin: 3px 7px;
  cursor: pointer;
}

.card img:hover {
  border: 2px solid rgb(4, 0, 230);
}

.card img {
  width: 100%;
  min-width: 250px;
  height: 145px;
  border-radius: 25px;
  border: 2px solid transparent;
}


::-webkit-scrollbar {
  display: none;
}

#footer {
  position: relative;
  bottom: 3px;
}
